@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

h1{
    font-family: 'Poppins';
    font-size: 60px;
    color: white; 
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
form{
    background-color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 410px;

}
#result{
    background: black;
    color: aliceblue;
    margin: 20px 0;
    height: 800px;
    padding: 30px;
}